@{
    var selected = ViewData["selected"] as string;
    selected ??= "Index";
}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@(selected == "Index" ? "active" : null)">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
           
            <li class="treeview @(selected.Contains("Article") ? "active menu-open" : "")">
                <a href="javascript:void(0)">
                    <i class="fa fa-newspaper-o"></i> <span>بلاگ</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(selected == "blog" ? "active" : null)"><a href="/Admin/BlogManagement">لیست مقالات</a></li>
                    <li class="@(selected == "BlogComments" ? "active" : null)"><a href="/Admin/Blog/Comments">نظرات کاربران</a></li>
                    <li class="@(selected == "BlogGroups" ? "active" : null)"><a href="/Admin/BlogManagement/Groups">دسته بندی</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>