@model Blog.Application.ViewModels.PostGroups.EditBlogGroupViewModel

<form data-ajax="true" method="post" asp-page="Index" asp-page-handler="EditGroup" class="row">
    @Html.HiddenFor(m => m.ParentId)
    @Html.HiddenFor(m => m.Id)
    <div class="col-md-6">
        @Html.EditorFor(m => m.GroupTitle)
    </div>
    <div class="col-md-6">
        @Html.EditorFor(m => m.EnglishGroupTitle)
    </div>
    <div class="col-md-12">
        @Html.EditorFor(m => m.MetaDescription)
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-success">ثبت اطلاعات</button>
    </div>
</form>