@page
@using Account.Domain.Enums
@using Account.Application.Models.DTOs.Account
@model ServiceHost.Pages.Profile.EditModel
@{
    ViewData["title"] = "حساب کاربری";
    ViewData["selected"] = "edit";
}
@section Styles
{
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css" />

}
<div class="row mb-5">
    <partial name="Shared/Profile/_ProfileMenu" />
    <div class="col-lg-9 col-md-8">
        <div class="row mb-4">
            <div class="col-12">
                <div class="section-title mb-2">
                    اطلاعات شخصی
                </div>
                <section class="shadow-around p-3">
                    <form asp-page="Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="BirthDate" />
                        <div class="row">
                            <div class="col-lg-6 mb-5">
                                <div class="text-sm text-muted mb-3">نام:<required></required></div>
                                @Html.EditorFor(m => m.EditUserDto.Name)
                            </div>
                            <div class="col-lg-6 mb-5">
                                <div class="text-sm text-muted mb-3">نام خانوادگی:<required></required></div>
                                @Html.EditorFor(m => m.EditUserDto.Family)
                            </div>
                            <div class="col-lg-6 mb-5">
                                <div class="text-sm text-muted mb-3">پست الکترونیک:<required></required></div>
                                @Html.EditorFor(m => m.EditUserDto.Email)
                            </div>
                            <div class="col-lg-6 mb-5">
                                <div class="text-sm text-muted mb-3">کدملی:</div>
                                <div class="text-dark font-weight-bold">
                                    <div class="form-element-row mb-0">
                                        <input type="text" id="number_input1" class="input-element" asp-for="@Model.EditUserDto.NationalCode">
                                    </div>
                                    <span asp-validation-for="@Model.EditUserDto.NationalCode" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-lg-6 mb-5">
                                <div class="text-sm text-muted mb-3">جنسیت:</div>
                                <div class="text-dark font-weight-bold">
                                    <div class="form-element-row mb-0">
                                        <select asp-for="EditUserDto.Gender" class="select2">
                                            <option value="@Gender.None">نامشخص</option>
                                            <option value="@Gender.Male">آقا</option>
                                            <option value="@Gender.Female">خانم</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @if (Model.BirthDate == null)
                            {
                                <div class="col-lg-6 mb-5">
                                    <div class="text-sm text-muted mb-3">تاریخ تولد: <description text="در وارد کردن تاریخ تولد دقت کنید چون فقط یک بار قابل تغییر می باشد"></description></div>
                                    @Html.EditorFor(m => m.EditUserDto.BirthDate)
                                </div>
                            }
                            <div class="col-lg-6 mb-5">
                                <div class="text-sm text-muted mb-3">عکس پروفایل:</div>
                                <div class="text-dark font-weight-bold">
                                    <div class="form-element-row mb-0">
                                        <input type="file" class="input-element" asp-for="EditUserDto.ImageName"/>
                                    </div>
                                    <span class="text-danger" asp-validation-for="EditUserDto.ImageName"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-element-row text-left">
                                    <button class="btn-element btn-success-element">
                                        <i class="fad fa-user-edit"></i>
                                        ذخیره تغییرات
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
    <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>
    <partial name="Shared/_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $(`.dateSelect`).pDatepicker({
                format: 'YYYY/MM/D',
            });

        });
    </script>
}
