@model Account.Application.Models.DTOs.Addresses.InsertAddressDto
<form asp-page="Index" asp-page-handler="InsertAddress" method="post" data-ajax="true">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">استان:</div>
            @Html.EditorFor(m => m.Shire)
        </div>
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">شهر:</div>
            @Html.EditorFor(m => m.City)
        </div>
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">کد پستی:</div>
            @Html.EditorFor(m => m.PostalCode)
        </div>
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">آدرس کامل:</div>
            @Html.EditorFor(m => m.Address)
        </div>
        <hr class="col-12 mt-2 mb-2" style="flex: 100%" />
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">نام گیرنده:</div>
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">نام خانوادگی گیرنده:</div>
            @Html.EditorFor(m => m.Family)
        </div>
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">شماره موبایل:</div>
            <div class="text-dark font-weight-bold">
                <div class="form-element-row mb-0">
                    <input type="text" class="input-element dir-ltr" asp-for="Phone" id="number_input" placeholder="09*********">
                </div>
                <span class="text-danger" asp-validation-for="Phone"></span>

            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="text-sm text-muted mb-1">کد ملی گیرنده: <description text="کد ملی باید ۱۰ رقم و بدون خط تیره باشد"></description></div>
            <div class="text-dark font-weight-bold">
                <div class="form-element-row mb-0">
                    <input type="text" class="input-element dir-ltr" asp-for="NationalCode" id="number_input1">
                </div>
                <span class="text-danger" asp-validation-for="NationalCode"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-element-row text-left">
                <button type="submit" class="btn-element btn-success-element">
                    <i class="fad fa-money-check-edit"></i>
                    ذخیره تغییرات
                </button>
            </div>
        </div>
    </div>

</form>