@page "{handler?}"
@model ServiceHost.Pages.Profile.Addresses.IndexModel
@{
    ViewData["title"] = "حساب کاربری";
    ViewData["selected"] = "addresses";
    var counter = 1;
}
<div class="modal fade" id="modalAddress" tabindex="-1" aria-labelledby="addAddressModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <partial name="Shared/Profile/_ProfileMenu" />
    <div class="col-lg-9 col-md-8">
        <div class="section-title mb-2">
            نشانی‌ها
        </div>
        <div class="checkout-section shadow-around">
            <div class="checkout-section-content">
                <div class="row mx-0">
                    @foreach (var item in Model.UserAddresses)
                    {
                        var id = "address_" + counter;

                        <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" value="@item.Id"  checked="@((item.IsDefaultAddress?"true":null))" id="@id" name="addressRadio" class="custom-control-input">
                                <label class="custom-control-label address-select" for="@id">
                                    <span class="head-address-select">به این آدرس ارسال شود</span>
                                    <span>@item.Address</span>
                                    <span>
                                        <i class="fa fa-user"></i>
                                        @item.Name @item.Family
                                    </span>
                                    <a href="javascript:void(0)" class="link--with-border-bottom edit-address-btn" onclick="ShowEditModal('@item.Id')">
                                        ویرایش
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="link--with-border-bottom delete-address-btn text-danger border-danger" onclick="DeleteAddress('@item.Id')">
                                        حذف
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </label>
                            </div>
                        </div>

                        counter += 1;
                    }
                    <div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
                        <div class="custom-control custom-radio">
                            <button class="add-address" onclick="ShowInsertModal()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"/>
    <script src="/assets/js/profile.js"></script>
}
