@{
    var selected = ViewData["Selected"]?.ToString();
    
}
<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>

            <li class="@(selected == "index" ? "active" : null)">
                <a class="@(selected == "index" ? "toggled" : null)" href="/">
                    <i class="zmdi zmdi-home"></i><span>داشبورد</span>
                </a>
            </li>
        
            <li class="header">فروشگاه</li>
            <li class="@(selected.Contains("Shop")?"active open":null)">
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="zmdi zmdi-shopping-cart"></i><span>دسته بندی ها</span>
                </a>
                <ul class="ml-menu">
                    <li class="@(selected == "ShopCategories" ? "active" : null)">
                        <a class="@(selected == "index" ? "toggled" : null)" href="/shopManagement/Categories">لیست دسته بندی ها</a>
                    </li>
                    <li class="@(selected == "ShopCategoryAttributes" ? "active" : null)">
                        <a class="@(selected == "ShopCategoryAttributes" ? "toggled" : null)" href="/shopManagement/Categories/Attributes">Attributes</a>
                    </li>
                   
                </ul>
            </li>
            <li class="header">وبلاگ</li>
            <li class="@(selected=="blogGroups"?"active":null)">
                <a class="@(selected=="blogGroups"?"toggled":null)" href="/blogManagement/groups">
                    <i class="zmdi zmdi-group"></i><span>دسته بندی ها</span>
                </a>
            </li>
            <li class="@(selected=="blogPosts"?"active":null)">
                <a class="@(selected=="blogPosts"?"toggled":null)" href="/blogManagement">
                    <i class="zmdi zmdi-blogger"></i><span>پست ها</span>
                </a>
            </li>


            <li class="header">LABELS</li>

        </ul>
    </div>
    <!-- #Menu -->
</aside>