@{
    var selected = ViewData["Selected"]?.ToString();
    
}
<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>

            <li class="@(selected == "index" ? "active" : null)">
                <a class="@(selected == "index" ? "toggled" : null)" href="/">
                    <i class="zmdi zmdi-home"></i><span>داشبورد</span>
                </a>
            </li>
        
            <li class="header">فروشگاه</li>
           
            <li class="@(selected == "ShopCategoryAttributes" ? "active" : null)">
                <a class="@(selected == "ShopCategoryAttributes" ? "toggled" : null)" href="/shopManagement/Categories/Attributes">
                    <i class="zmdi zmdi-collection-item-9"></i><span>Attributes</span>
                </a>
            </li>
            <li class="@(selected == "ShopCategories" ? "active" : null)">
                <a class="@(selected == "ShopCategories" ? "toggled" : null)" href="/shopManagement/Categories">
                    <i class="zmdi zmdi-group-work"></i><span> دسته بندی ها</span>
                </a>
            </li>
            <li class="@(selected=="products"?"active":null)">
                <a class="@(selected=="products"?"toggled":null)" href="/shopManagement/products">
                    <i class="zmdi zmdi-collection-item"></i><span>محصولات</span>
                </a>
            </li>
            <li class="header">وبلاگ</li>
            <li class="@(selected=="blogGroups"?"active":null)">
                <a class="@(selected=="blogGroups"?"toggled":null)" href="/blogManagement/groups">
                    <i class="zmdi zmdi-group"></i><span>دسته بندی ها</span>
                </a>
            </li>
            <li class="@(selected=="blogPosts"?"active":null)">
                <a class="@(selected=="blogPosts"?"toggled":null)" href="/blogManagement">
                    <i class="zmdi zmdi-blogger"></i><span>پست ها</span>
                </a>
            </li>


            <li class="header">LABELS</li>

        </ul>
    </div>
    <!-- #Menu -->
</aside>