@using framework.Utilities

<div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
    <div class="sidebar-widget">
        <div class="banner mb-3">
            <a href="#">
                <img src="/assets/images/banner/banner-profile-sidebar.jpg"
                     class="box-shaow-unset has-border" alt="...">
            </a>
        </div>
        <div class="profile-sidebar shadow-around">
            <div class="d-flex align-items-center">
                <div class="profile-avatar">
                    <img src="" alt="">
                </div>
                <div class="profile-info">
                    <div class="d-block">
                        <h6><strong>Mohammad Ashrafi</strong></h6>
                    </div>
                    <div class="d-block">
                        <strong class="text-muted">09351171196</strong>
                    </div>
                </div>
            </div>
            <div class="user-options">
                <ul>
                    <li>
                        <a href="#">
                            <span>کیف پول</span>
                            <span>
                                2000 <span class="text-info font-weight-bold">تومان</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-menu">
                <ul>
                    <li>
                        <a href="#" class="@((ViewData["selected"].ToString()=="orders"?"active":null))">
                            <i class="far fa-clipboard-list-check"></i>
                            سفارش های من
                        </a>
                    </li>
                    <li>
                        <a href="#" class="@((ViewData["selected"].ToString()=="vishList"?"active":null))">
                            <i class="far fa-heart"></i>
                            لیست علاقمندی
                        </a>
                    </li>
                    <li>
                        <a href="#" class="@((ViewData["selected"].ToString()=="comments"?"active":null))">
                            <i class="far fa-comment-alt-lines"></i>
                            نظرات
                        </a>
                    </li>
                    <li>
                        <a asp-page="./Addresses/Index" class="@((ViewData["selected"].ToString()=="addresses"?"active":null))">
                            <i class="far fa-map-marked"></i>
                            نشانی ها
                        </a>
                    </li>
                    <li>
                        <a href="#" class="@((ViewData["selected"].ToString()=="notifications"?"active":null))">
                            <i class="far fa-envelope"></i>
                            پیغام ها
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-clock"></i>
                            بازدیدهای اخیر
                        </a>
                    </li>
                    <li>
                        <a href="/Profile/Edit" class="@((ViewData["selected"].ToString()=="edit"?"active":null))">
                            <i class="far fa-user-cog"></i>
                            ویرایش اطلاعات
                        </a>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            <i class="far fa-sign-in-alt"></i>
                            خروج
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>